@page "/Account/AccessDenied"

<div class="mt-5 container text-center">
    <h1 class="text-danger">Access Denied</h1>
    <p class="text-white">You do not have permission to view this page.</p>
    <p class="text-white">Please contact your administrator if you believe this is an error.</p>
    <p class="text-white">Return to <a href="/" class="text-primary">Home Page</a>.</p>
</div>




@code {

}
