<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <title>Meetups</title>

    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="@Assets["css/app.css"]" />
    <link rel="stylesheet" href="@Assets["Meetups.styles.css"]" />


    <ImportMap />
    <link rel="icon" type="image/png" href="img/logo icon.png" />
    <HeadOutlet @rendermode="new InteractiveServerRenderMode(prerender: false)" />
</head>

<body>
    @* <Routes @rendermode="InteractiveServer" /> *@
    <CascadingAuthenticationState>
        <Routes @rendermode="new InteractiveServerRenderMode(prerender: false)" />
    </CascadingAuthenticationState>
    

    <!-- JS Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!-- JS FullCalendar (global build, includes all plugins) -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.js"></script>
    <script src="js/calendar.js"></script>

    <script src="_framework/blazor.web.js"></script>
</body>

</html>


@code {
    //[CascadingParameter] HttpContext HttpContext { get; set; } = default!;

    //IComponentRenderMode? PageRenderMode => HttpContext.Request.Path.StartsWithSegments("/Account") ? null : new InteractiveServerRenderMode(prerender: false);
}