@inherits BaseComponent

@inject NavigationManager Navigation


@if (IsAuthenticated)
{
    <div class="d-flex justify-content-center align-items-center">
        <h7 class="ms-4 text-black me-2">Hi, <a href="/manage-user/@UserId" class="text-white-50 text-decoration-none">@UserName</a></h7>
        <h7 class="text-black btn btn-link text-decoration-none" @onclick="Logout">Logout</h7>
    </div>
}
else
{
    <div class="d-flex justify-content-center align-items-center">
        <h7 class="text-black btn btn-link text-decoration-none" @onclick="Login">Login</h7>
    </div>
}

<DialogXComponent Title="Login" @ref="LoginDialog">
    <DialogBody>
        <ExternalLoginButtonsComponent />
    </DialogBody>
</DialogXComponent>


@code {
    DialogXComponent? LoginDialog { get; set; } = new();

    void Login()
    {
        if (IsAuthenticated == false) LoginDialog?.Show();
    }

    void Logout() => Navigation.NavigateTo("/logout", true);
}
