<!-- Page Header Component -->
<div class="bg-header"></div>
<div class="@App?.GetContentClass() page-header">
    <div class="breadcrumb">
        <a class="bi bi-house-fill icon-zoom" href="admin"></a>
        <i class="bi bi-chevron-right"></i>
        <a href="admin/@BackLink">@BackLink</a>
        <i class="bi bi-chevron-right"></i>
        <span>@Title</span>
    </div>
</div>


@code {
    [CascadingParameter] AppState? App { get; set; }

    [Parameter] public string Title { get; set; } = string.Empty;

    [Parameter] public string BackLink { get; set; } = string.Empty;
}