<div class="top-row">
    <div class="d-flex justify-content-start align-items-center">

        @if (App?.CurrentUser.Role == ApplicationRole.Organizer)
        {
            <i class="bi @(IsOpen ? "bi-chevron-left" : "bi-list") me-3" @onclick="OnToggleSidebar"></i>
        }
        <a href="" class="text-decoration-none">
            <div class="logo-icon">
                <img src="/img/logo.png" alt="logo" class="img-fluid" />
                <h5>eetups</h5>
            </div>
        </a>
    </div>


    <SearchComponent SearchUrl="" />

    <div>
        <a href="/admin/event" class="btn btn-warning btn-sm">Add Event</a>
    </div>

    <div class="d-flex justify-content-center align-items-center g-4">
        <_BecomeOrganizerComponent />
        <LoginStatusComponent />
    </div>





    @* <AuthorizeView>
        <Authorized>
            <div class="nav-item px-3 d-flex justify-content-center align-content-center">
                
                
                @if (App?.CurrentUser is not null)
                {
                    <h7>Hi @App?.CurrentUser?.FirstName</h7>
                } 
                
                <form action="Account/Logout" method="post">
                    <AntiforgeryToken />
                    <input type="hidden" name="ReturnUrl" value="#" />
                    <button type="submit" class="nav-link">
                        <span class="ms-2 bi bi-arrow-bar-left" aria-hidden="true"></span> Logout
                    </button>
                </form>
            </div>
        </Authorized>
    </AuthorizeView> *@

    @* <a href="#" target="_blank">About</a> *@
</div>

@code {
    [CascadingParameter] AppState? App { get; set; }

    [Parameter] public bool IsOpen { get; set; }

    [Parameter] public EventCallback OnToggleSidebar { get; set; }
}